.title-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#about-section {
    background-color: #28262C;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    justify-content: center;
    position: relative;
    align-items: center;
}

.paragraph-wrapper {
    width: 60vw;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 15vh;
}

.paragraph-wrapper p {
    mix-blend-mode: difference;
    font-family: 'Mazius';
    font-size: 44px;
    color: #BBAEF7;
}



.about-wrapper {
    width: 100vw;
}

.about-img-wrapper {
    z-index: -1;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 50vh;
}

.about-img {
    width: 15vw;
    z-index: -1;
    position: relative;
}

#autoportrait-miniature {
    position: relative;
    top: 60vh;
}

#equation-poster-miniature {
    position: relative;
    top: 120vh;
}

#abstract-bubble-miniature {
    position: relative;
}

/* Projects section */

.text-slider-wrapper {
    max-width: 100%;
    overflow: hidden;
}

.text-marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: text-marquee 10s linear infinite;
}

.text-marquee h2 {
    display: inline-block;
}

@keyframes text-marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.selected-work-section {
    height: 100vh;
}

.galery {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    margin-left: 10px;
    height: 50vh;
    max-width: 22vw;
    cursor: pointer;
    object-fit: cover;
}

#contact-section {
    height: 80vh;
    display: flex;
    align-items: center;
}

.contact-wrapper {
    width: 70vw;
    margin-left: 5vw;
    z-index: 1;
}

#lets-connect {
    cursor: pointer;
}

@media screen and (max-width: 769px) {

    .title-container h1 {
        font-size: 20vw;
        text-align: center;
        line-height: 100%;
    }

    .title-container {
        justify-content: center;
    }

    .main-description-wrapper {
        font-size: 12px;
        width: 50vw;
    }

    .about-img {
        width: 20vw;
    }

    .paragraph-wrapper p {
        font-size: 32px;
    }

    .galery {
        flex-wrap: wrap;
    }

    .carousel-image {
        max-width: 33vw;
        height: 30vh;
        margin-top: 16px;
    }

    .selected-work-section {
        height: auto;
    }

    footer p {
        font-size: 10px;
    }
}