.work-page-title-wrapper {
    height: 100vh;
}

.work-gallery {
    width: 100vw;
    max-width: 100%;
    /* padding: 0 40px; */
    padding-right: 40px;
}

.two-cols {
    /* width: 100vw; */
    max-width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh
}

.project-description-wrapper {
    padding-left: 40px;
    /* height: 100vh; */
    /* background-color: #28262C; */
}

.work-title-wrapper {
    overflow: hidden;
}

.work-title-wrapper h3 {
    font-family: 'Mazius';
    font-size: 44px;
    color: #BBAEF7;
}

.work-label-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.bloom-images-wrapper,
.equation-images-wrapper {
    width: 60vw;
}

#bloom-project,
.project-description-wrapper {
    width: 40vw;
}

#bloom-1 {
    width: 80%
}

#bloom-2 {
    width: 20%
}

#bloom-3 {
    width: 100%
}

.bloom-images-wrapper img {}

.bloom-sketch-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-label {
    font-family: 'HK Grotesk';
    font-weight: 200;
    background-color: #BBAEF7;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    margin-top: 16px;
    margin-right: 12px;
}

.work-description-wrapper {
    margin-top: 28px;
}

.work-description-wrapper p {
    color: #BBAEF7;
    font-family: 'HK Grotesk';
    font-weight: 100;
}

.equation-images-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.equation-images-wrapper img {
    height: 60vh;

}

.equation-images-wrapper img:nth-child(1) {
    margin-right: 20px;
}

.portrait-images-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portrait-images-wrapper img {
    width: 18vw;
}

.portrait-images-wrapper img:nth-child(1),
.portrait-images-wrapper img:nth-child(2) {
    margin-right: 20px;
}

@media screen and (max-width: 1280px) {
    .equation-images-wrapper img {
        height: auto;
        width: 50%;
    }

    .work-title-wrapper h3 {
        font-size: 32px;
    }

    .work-label p {
        font-size: 13px;
    }
}

@media screen and (max-width: 1024px) {
    .two-cols {
        flex-direction: column;
        height: auto;
        margin-bottom: 8vh;
    }

    .project-description-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
        padding-left: 0;
        width: 70vw;
    }

    .work-label-wrapper {
        width: 70vw;
        justify-content: center;
    }

    .work-description-wrapper {
        width: 70vw;
    }

    .work-description-wrapper p {
        text-align: center;
    }
}